*, *::after, *::before
	box-sizing: border-box
body
	font-family: $mainFont
	font-size: $mainFontSize
	color: $mainFontColor
	line-height: $mainLineHeight
	font-weight: $mainFontWeight
	overflow-wrap: break-word
	word-wrap: break-word
a
	text-decoration: none
	display: inline-block
	color: $white-color
.container
	@include min-max(320px, 100%, 0)
.wrap
	@include min-max(320px, 1140px, 15px)
.icon-arrow-right, .icon-arrow-left
	fill: $white-color
	+dem(24px, 20px)
.subtitle-left
	font-size: 22px
	line-height: 32px
	letter-spacing: 7.33333px
	color: $white-color
	opacity: 0.5
	padding-left: 103px
	position: relative
	display: inline-block
	&::before
		content: ''
		position: absolute
		width: 80px
		height: 1px
		background-color: $white-color
		left: 0
		top: 50%
ul,li
	margin: 0
	padding: 0
	list-style: none
.icon
	fill: $white-color
.icon-nav-ico-1
	+dem(59px, 46px)
.icon-nav-ico-2
	+dem(50px, 32px)
.icon-nav-ico-3
	+dem(39px, 40px)
.icon-nav-ico-4
	+dem(16px, 44px)
.icon-search
	+dem(24px)
.icon-down-arrows
	+dem(21px, 24px)