.container
	section.shop
		.title
			div
				span.wow.fadeInLeft(data-wow-offset="400") shop
				h3 shop
		.shop__slider
			.shop__slider-item
				.shop__slider-inner
					.shop__slider-info
						.descr
							.headline-right Style
							.descr__head.descr__head-shop North Nugget TT Surfboard
						.shop__slider-price
							ul.shop__star-list.star-list
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
							| &#36; 799 #[sup 99]
						.shop__slider-btn
							a(href="#").btn
								| Drop #[span In]
					.shop__slider-content
						.surfboard.wow.fadeInUp(data-wow-offset="400")
							img(src="assets/img/surfboard.png", alt="surfboard")
							.surfboard-box.surfboard__position--1
								.surfboard-box__circle
									.circle-row
									.circle-row
								.surfboard-box__content Double Concave with Vee Shape low point
							.surfboard-box.surfboard__position--2
								.surfboard-box__circle
									.circle-row
									.circle-row
								.surfboard-box__content Double Concave with Vee Shape low point
							.surfboard-box.surfboard__position--3
								.surfboard-box__circle
									.circle-row
									.circle-row
								.surfboard-box__content Double Concave with Vee Shape low point
						.shop__extras.wow.fadeInUp(data-wow-offset="400")
							.shop__extras-title Extras
							.shop__extras-inner
								.shop__extras-box
									.shop__extras-img
										img(src="assets/img/wax.png", alt="wax")
									.shop__extras-name Sex Wax
									.shop__extras-price &#36; 24.99
								.shop__extras-box
									.shop__extras-img
										img(src="assets/img/bracelet.png", alt="bracelet")
									.shop__extras-name Pura Vida
									.shop__extras-price &#36; 27.99
			.shop__slider-item
				.shop__slider-inner
					.shop__slider-info
						.descr
							.headline-right Style
							.descr__head.descr__head-shop North Nugget TT Surfboard
						.shop__slider-price
							ul.shop__star-list.star-list
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
							| &#36; 799 #[sup 99]
						.shop__slider-btn
							a(href="#").btn
								| Drop #[span In]
					.shop__slider-content
						.surfboard
							img(src="assets/img/surfboard.png", alt="surfboard")
							.surfboard-box.surfboard__position--1
								.surfboard-box__circle
									.circle-row
									.circle-row
								.surfboard-box__content Double Concave with Vee Shape low point
							.surfboard-box.surfboard__position--2
								.surfboard-box__circle
									.circle-row
									.circle-row
								.surfboard-box__content Double Concave with Vee Shape low point
							.surfboard-box.surfboard__position--3
								.surfboard-box__circle
									.circle-row
									.circle-row
								.surfboard-box__content Double Concave with Vee Shape low point
						.shop__extras
							.shop__extras-title Extras
							.shop__extras-inner
								.shop__extras-box
									.shop__extras-img
										img(src="assets/img/wax.png", alt="wax")
									.shop__extras-name Sex Wax
									.shop__extras-price &#36; 24.99
								.shop__extras-box
									.shop__extras-img
										img(src="assets/img/bracelet.png", alt="bracelet")
									.shop__extras-name Pura Vida
									.shop__extras-price &#36; 27.99