section.holder.sleep
	.container
		.title
			span
				|sleep
				h3 sleep
		.holder__slider
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/sleep-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle
							.headline-left Resorts
							.subtitle__head Auberge #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/hammock.png)")
					.descr
						.headline-right Rating
						.descr__head.descr__head-sleep Excellent
							ul.holder__star-list.star-list
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
				.holder-slider__info
					.holder-slider__info-item
						.holder-slider__info-subtitle Resort
						.holder-slider__info-title Auberge #[br] Australia
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Nights
						.holder-slider__info-title
							.quantity
								input.nights(type='number' min='1' max='9' step='1' value='5')
							|Nights
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Guests
						.holder-slider__info-title
							.quantity
								input.guests(type='number' min='1' max='9' step='1' value='4')
							|Guests
					.holder-slider__info-item
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title
							span.summ(data-nights="55" data-guests="25")
							| USD
							span.holder-pricing__span Per Night
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Stay]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/sleep-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle
							.headline-left Resorts
							.subtitle__head Auberge #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/hammock.png)")
					.descr
						.headline-right Rating
						.descr__head.descr__head-sleep Excellent
							ul.holder__star-list.star-list
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
				.holder-slider__info
					.holder-slider__info-item
						.holder-slider__info-subtitle Resort
						.holder-slider__info-title Auberge #[br] Australia
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Nights
						.holder-slider__info-title
							.quantity
								input.nights(type='number' min='1' max='9' step='1' value='5')
							|Nights
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Guests
						.holder-slider__info-title
							.quantity
								input.guests(type='number' min='1' max='9' step='1' value='4')
							|Guests
					.holder-slider__info-item
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title
							span.summ(data-nights="55" data-guests="25")
							| USD
							span.holder-pricing__span Per Night
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Stay]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/sleep-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle
							.headline-left Resorts
							.subtitle__head Auberge #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/hammock.png)")
					.descr
						.headline-right Rating
						.descr__head.descr__head-sleep Excellent
							ul.holder__star-list.star-list
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
				.holder-slider__info
					.holder-slider__info-item
						.holder-slider__info-subtitle Resort
						.holder-slider__info-title Auberge #[br] Australia
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Nights
						.holder-slider__info-title
							.quantity
								input.nights(type='number' min='1' max='9' step='1' value='5')
							|Nights
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Guests
						.holder-slider__info-title
							.quantity
								input.guests(type='number' min='1' max='9' step='1' value='4')
							|Guests
					.holder-slider__info-item
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title
							span.summ(data-nights="55" data-guests="25")
							| USD
							span.holder-pricing__span Per Night
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Stay]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/sleep-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle
							.headline-left Resorts
							.subtitle__head Auberge #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/hammock.png)")
					.descr
						.headline-right Rating
						.descr__head.descr__head-sleep Excellent
							ul.holder__star-list.star-list
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
				.holder-slider__info
					.holder-slider__info-item
						.holder-slider__info-subtitle Resort
						.holder-slider__info-title Auberge #[br] Australia
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Nights
						.holder-slider__info-title
							.quantity
								input.nights(type='number' min='1' max='9' step='1' value='5')
							|Nights
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Guests
						.holder-slider__info-title
							.quantity
								input.guests(type='number' min='1' max='9' step='1' value='4')
							|Guests
					.holder-slider__info-item
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title
							span.summ(data-nights="55" data-guests="25")
							| USD
							span.holder-pricing__span Per Night
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Stay]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/sleep-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle
							.headline-left Resorts
							.subtitle__head Auberge #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/hammock.png)")
					.descr
						.headline-right Rating
						.descr__head.descr__head-sleep Excellent
							ul.holder__star-list.star-list
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
				.holder-slider__info
					.holder-slider__info-item
						.holder-slider__info-subtitle Resort
						.holder-slider__info-title Auberge #[br] Australia
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Nights
						.holder-slider__info-title
							.quantity
								input.nights(type='number' min='1' max='9' step='1' value='5')
							|Nights
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Guests
						.holder-slider__info-title
							.quantity
								input.guests(type='number' min='1' max='9' step='1' value='4')
							|Guests
					.holder-slider__info-item
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title
							span.summ(data-nights="55" data-guests="25")
							| USD
							span.holder-pricing__span Per Night
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Stay]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/sleep-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle
							.headline-left Resorts
							.subtitle__head Auberge #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/hammock.png)")
					.descr
						.headline-right Rating
						.descr__head.descr__head-sleep Excellent
							ul.holder__star-list.star-list
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
				.holder-slider__info
					.holder-slider__info-item
						.holder-slider__info-subtitle Resort
						.holder-slider__info-title Auberge #[br] Australia
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Nights
						.holder-slider__info-title
							.quantity
								input.nights(type='number' min='1' max='9' step='1' value='5')
							|Nights
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Guests
						.holder-slider__info-title
							.quantity
								input.guests(type='number' min='1' max='9' step='1' value='4')
							|Guests
					.holder-slider__info-item
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title
							span.summ(data-nights="55" data-guests="25")
							| USD
							span.holder-pricing__span Per Night
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Stay]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/sleep-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle
							.headline-left Resorts
							.subtitle__head Auberge #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/hammock.png)")
					.descr
						.headline-right Rating
						.descr__head.descr__head-sleep Excellent
							ul.holder__star-list.star-list
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
				.holder-slider__info
					.holder-slider__info-item
						.holder-slider__info-subtitle Resort
						.holder-slider__info-title Auberge #[br] Australia
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Nights
						.holder-slider__info-title
							.quantity
								input.nights(type='number' min='1' max='9' step='1' value='5')
							|Nights
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Guests
						.holder-slider__info-title
							.quantity
								input.guests(type='number' min='1' max='9' step='1' value='4')
							|Guests
					.holder-slider__info-item
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title
							span.summ(data-nights="55" data-guests="25")
							| USD
							span.holder-pricing__span Per Night
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Stay]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/sleep-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle
							.headline-left Resorts
							.subtitle__head Auberge #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/hammock.png)")
					.descr
						.headline-right Rating
						.descr__head.descr__head-sleep Excellent
							ul.holder__star-list.star-list
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
								li
									+icon('star')
				.holder-slider__info
					.holder-slider__info-item
						.holder-slider__info-subtitle Resort
						.holder-slider__info-title Auberge #[br] Australia
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Nights
						.holder-slider__info-title
							.quantity
								input.nights(type='number' min='1' max='9' step='1' value='5')
							|Nights
					.holder-slider__info-item
						.holder-slider__info-subtitle # of Guests
						.holder-slider__info-title
							.quantity
								input.guests(type='number' min='1' max='9' step='1' value='4')
							|Guests
					.holder-slider__info-item
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title
							span.summ(data-nights="55" data-guests="25")
							| USD
							span.holder-pricing__span Per Night
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Stay]

