.container
	section.surf
		.title
			span
				|surf
				h3 surf
		.surf__subtitle
			.subtitle
				.headline-left Current location
				.subtitle__head California #[span |] USA
		.slider-map
			.slider-dots.slider-dots--1
				.slider-dots__circle
				.slider-dots__content
					.slider-dots__content-row
						.slider-dots__content-head
							.slider-dots__content-title Airline Beach
							.slider-dots__content-subtitle Australia
						.slider-dots__content-link
							+icon('arrow-right')
					.slider-dots__content-row
						.slider-dots__content-item
							+icon('surf')
							.slider-dots__content-number 9 - 13
							.slider-dots__content-name Surf (FT)
						.slider-dots__content-item
							+icon('water')
							.slider-dots__content-number +2.3
							.slider-dots__content-name Tide(FT)
						.slider-dots__content-item
							+icon('wind')
							.slider-dots__content-number 4 SE
							.slider-dots__content-name Wind(KTS)
			.slider-dots.slider-dots--2
				.slider-dots__circle
				.slider-dots__content
					.slider-dots__content-row
						.slider-dots__content-head
							.slider-dots__content-title Airline Beach
							.slider-dots__content-subtitle Australia
						.slider-dots__content-link
							+icon('arrow-right')
					.slider-dots__content-row
						.slider-dots__content-item
							+icon('surf')
							.slider-dots__content-number 9 - 13
							.slider-dots__content-name Surf (FT)
						.slider-dots__content-item
							+icon('water')
							.slider-dots__content-number +2.3
							.slider-dots__content-name Tide(FT)
						.slider-dots__content-item
							+icon('wind')
							.slider-dots__content-number 4 SE
							.slider-dots__content-name Wind(KTS)
			.slider-dots.slider-dots--3
				.slider-dots__circle
				.slider-dots__content
					.slider-dots__content-row
						.slider-dots__content-head
							.slider-dots__content-title Airline Beach
							.slider-dots__content-subtitle Australia
						.slider-dots__content-link
							+icon('arrow-right')
					.slider-dots__content-row
						.slider-dots__content-item
							+icon('surf')
							.slider-dots__content-number 9 - 13
							.slider-dots__content-name Surf (FT)
						.slider-dots__content-item
							+icon('water')
							.slider-dots__content-number +2.3
							.slider-dots__content-name Tide(FT)
						.slider-dots__content-item
							+icon('wind')
							.slider-dots__content-number 4 SE
							.slider-dots__content-name Wind(KTS)
			.slider-dots.slider-dots--4
				.slider-dots__circle
				.slider-dots__content
					.slider-dots__content-row
						.slider-dots__content-head
							.slider-dots__content-title Airline Beach
							.slider-dots__content-subtitle Australia
						.slider-dots__content-link
							+icon('arrow-right')
					.slider-dots__content-row
						.slider-dots__content-item
							+icon('surf')
							.slider-dots__content-number 9 - 13
							.slider-dots__content-name Surf (FT)
						.slider-dots__content-item
							+icon('water')
							.slider-dots__content-number +2.3
							.slider-dots__content-name Tide(FT)
						.slider-dots__content-item
							+icon('wind')
							.slider-dots__content-number 4 SE
							.slider-dots__content-name Wind(KTS)
			.slider-dots.slider-dots--5
				.slider-dots__circle
				.slider-dots__content
					.slider-dots__content-row
						.slider-dots__content-head
							.slider-dots__content-title Airline Beach
							.slider-dots__content-subtitle Australia
						.slider-dots__content-link
							+icon('arrow-right')
					.slider-dots__content-row
						.slider-dots__content-item
							+icon('surf')
							.slider-dots__content-number 9 - 13
							.slider-dots__content-name Surf (FT)
						.slider-dots__content-item
							+icon('water')
							.slider-dots__content-number +2.3
							.slider-dots__content-name Tide(FT)
						.slider-dots__content-item
							+icon('wind')
							.slider-dots__content-number 4 SE
							.slider-dots__content-name Wind(KTS)
			.slider-dots.slider-dots--6
				.slider-dots__circle
				.slider-dots__content
					.slider-dots__content-row
						.slider-dots__content-head
							.slider-dots__content-title Airline Beach
							.slider-dots__content-subtitle Australia
						.slider-dots__content-link
							+icon('arrow-right')
					.slider-dots__content-row
						.slider-dots__content-item
							+icon('surf')
							.slider-dots__content-number 9 - 13
							.slider-dots__content-name Surf (FT)
						.slider-dots__content-item
							+icon('water')
							.slider-dots__content-number +2.3
							.slider-dots__content-name Tide(FT)
						.slider-dots__content-item
							+icon('wind')
							.slider-dots__content-number 4 SE
							.slider-dots__content-name Wind(KTS)
			.slider-dots.slider-dots--7
				.slider-dots__circle
				.slider-dots__content
					.slider-dots__content-row
						.slider-dots__content-head
							.slider-dots__content-title Airline Beach
							.slider-dots__content-subtitle Australia
						.slider-dots__content-link
							+icon('arrow-right')
					.slider-dots__content-row
						.slider-dots__content-item
							+icon('surf')
							.slider-dots__content-number 9 - 13
							.slider-dots__content-name Surf (FT)
						.slider-dots__content-item
							+icon('water')
							.slider-dots__content-number +2.3
							.slider-dots__content-name Tide(FT)
						.slider-dots__content-item
							+icon('wind')
							.slider-dots__content-number 4 SE
							.slider-dots__content-name Wind(KTS)
			.slider-dots.slider-dots--8
				.slider-dots__circle
				.slider-dots__content
					.slider-dots__content-row
						.slider-dots__content-head
							.slider-dots__content-title Airline Beach
							.slider-dots__content-subtitle Australia
						.slider-dots__content-link
							+icon('arrow-right')
					.slider-dots__content-row
						.slider-dots__content-item
							+icon('surf')
							.slider-dots__content-number 9 - 13
							.slider-dots__content-name Surf (FT)
						.slider-dots__content-item
							+icon('water')
							.slider-dots__content-number +2.3
							.slider-dots__content-name Tide(FT)
						.slider-dots__content-item
							+icon('wind')
							.slider-dots__content-number 4 SE
							.slider-dots__content-name Wind(KTS)

		.surf-slider
			.surf-box
				.surf-box__wrapper(style="background-image: url(./assets/img/slide-1.jpg);")
					.surf-box__inner
						.surf-box__inner-title Malibu Beach
						.surf-box__inner-location California #[span |] USA
						.surf-box__inner-btn
							a(href="#").btn view #[span surf]
			.surf-box
				.surf-box__wrapper(style="background-image: url(./assets/img/slide-2.jpg);")
					.surf-box__inner
						.surf-box__inner-title Airline Beach
						.surf-box__inner-location Queensland #[span |] Australia
						.surf-box__inner-btn
							a(href="#").btn view #[span surf]
			.surf-box
				.surf-box__wrapper(style="background-image: url(./assets/img/slide-3.jpg);")
					.surf-box__inner
						.surf-box__inner-title Cloud Nine
						.surf-box__inner-location California #[span |] USA
						.surf-box__inner-btn
							a(href="#").btn view #[span surf]
			.surf-box
				.surf-box__wrapper(style="background-image: url(./assets/img/slide-4.jpg);")
					.surf-box__inner
						.surf-box__inner-title Vieux Boucau
						.surf-box__inner-location Hossegor #[span |] France
						.surf-box__inner-btn
							a(href="#").btn view #[span surf]
			.surf-box
				.surf-box__wrapper(style="background-image: url(./assets/img/slide-1.jpg);")
					.surf-box__inner
						.surf-box__inner-title Malibu Beach
						.surf-box__inner-location California #[span |] USA
						.surf-box__inner-btn
							a(href="#").btn view #[span surf]
			.surf-box
				.surf-box__wrapper(style="background-image: url(./assets/img/slide-2.jpg);")
					.surf-box__inner
						.surf-box__inner-title Airline Beach
						.surf-box__inner-location Queensland #[span |] Australia
						.surf-box__inner-btn
							a(href="#").btn view #[span surf]
			.surf-box
				.surf-box__wrapper(style="background-image: url(./assets/img/slide-3.jpg);")
					.surf-box__inner
						.surf-box__inner-title Cloud Nine
						.surf-box__inner-location California #[span |] USA
						.surf-box__inner-btn
							a(href="#").btn view #[span surf]
			.surf-box
				.surf-box__wrapper(style="background-image: url(./assets/img/slide-4.jpg);")
					.surf-box__inner
						.surf-box__inner-title Vieux Boucau
						.surf-box__inner-location Hossegor #[span |] France
						.surf-box__inner-btn
							a(href="#").btn view #[span surf]
