section.holder
	.container
		.title
			div
				span.wow.fadeInLeft(data-wow-offset="300") travel
				h3 travel
		.holder__slider
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle.wow.fadeInRight(data-wow-offset="400")
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/virgin.png)", data-wow-offset="400").wow.fadeInUp
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.holder-slider__info
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".3s")
						.holder-slider__info-subtitle Destination
						.holder-slider__info-title Queensland #[br] Australia
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".6s")
						.holder-slider__info-subtitle Distance
						.holder-slider__info-title 7,065 Miles
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".9s")
						.holder-slider__info-subtitle Travel #[br] Time
						.holder-slider__info-title 23 Hours 5 Minutes
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay="1.2s")
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title $1,976 USD
							span.holder-pricing__span Round Trip
				.holder-slider__btn
					a(href="#").btn.wow.fadeInUp(data-wow-delay="1.5s")
						| Book #[span Flight]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle.wow.fadeInRight(data-wow-offset="400")
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/virgin.png)", data-wow-offset="400").wow.fadeInUp
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.holder-slider__info
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".3s")
						.holder-slider__info-subtitle Destination
						.holder-slider__info-title Queensland #[br] Australia
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".6s")
						.holder-slider__info-subtitle Distance
						.holder-slider__info-title 7,065 Miles
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".9s")
						.holder-slider__info-subtitle Travel #[br] Time
						.holder-slider__info-title 23 Hours 5 Minutes
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay="1.2s")
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title $1,976 USD
							span.holder-pricing__span Round Trip
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle.wow.fadeInRight(data-wow-offset="400")
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/virgin.png)", data-wow-offset="400").wow.fadeInUp
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.holder-slider__info
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".3s")
						.holder-slider__info-subtitle Destination
						.holder-slider__info-title Queensland #[br] Australia
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".6s")
						.holder-slider__info-subtitle Distance
						.holder-slider__info-title 7,065 Miles
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".8s")
						.holder-slider__info-subtitle Travel #[br] Time
						.holder-slider__info-title 23 Hours 5 Minutes
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay="1.2s")
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title $1,976 USD
							span.holder-pricing__span Round Trip
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle.wow.fadeInRight(data-wow-offset="400")
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/virgin.png)", data-wow-offset="400").wow.fadeInUp
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.holder-slider__info
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".3s")
						.holder-slider__info-subtitle Destination
						.holder-slider__info-title Queensland #[br] Australia
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".6s")
						.holder-slider__info-subtitle Distance
						.holder-slider__info-title 7,065 Miles
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".9s")
						.holder-slider__info-subtitle Travel #[br] Time
						.holder-slider__info-title 23 Hours 5 Minutes
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay="1.2s")
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title $1,976 USD
							span.holder-pricing__span Round Trip
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle.wow.fadeInRight(data-wow-offset="400")
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/virgin.png)", data-wow-offset="400").wow.fadeInUp
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.holder-slider__info
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".3s")
						.holder-slider__info-subtitle Destination
						.holder-slider__info-title Queensland #[br] Australia
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".6s")
						.holder-slider__info-subtitle Distance
						.holder-slider__info-title 7,065 Miles
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".9s")
						.holder-slider__info-subtitle Travel #[br] Time
						.holder-slider__info-title 23 Hours 5 Minutes
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay="1.2s")
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title $1,976 USD
							span.holder-pricing__span Round Trip
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle.wow.fadeInRight(data-wow-offset="400")
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/virgin.png)", data-wow-offset="400").wow.fadeInUp
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.holder-slider__info
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".3s")
						.holder-slider__info-subtitle Destination
						.holder-slider__info-title Queensland #[br] Australia
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".6s")
						.holder-slider__info-subtitle Distance
						.holder-slider__info-title 7,065 Miles
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".9s")
						.holder-slider__info-subtitle Travel #[br] Time
						.holder-slider__info-title 23 Hours 5 Minutes
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay="1.2s")
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title $1,976 USD
							span.holder-pricing__span Round Trip
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle.wow.fadeInRight(data-wow-offset="400")
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/virgin.png)", data-wow-offset="400").wow.fadeInUp
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.holder-slider__info
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".3s")
						.holder-slider__info-subtitle Destination
						.holder-slider__info-title Queensland #[br] Australia
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".6s")
						.holder-slider__info-subtitle Distance
						.holder-slider__info-title 7,065 Miles
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".9s")
						.holder-slider__info-subtitle Travel #[br] Time
						.holder-slider__info-title 23 Hours 5 Minutes
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay="1.2s")
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title $1,976 USD
							span.holder-pricing__span Round Trip
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.holder__slider-item.holder-slider
				.holder-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.holder-slider__subtitle
						.subtitle.wow.fadeInRight(data-wow-offset="400")
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.holder-slider__descr(style="background-image: url(assets/img/virgin.png)", data-wow-offset="400").wow.fadeInUp
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.holder-slider__info
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".3s")
						.holder-slider__info-subtitle Destination
						.holder-slider__info-title Queensland #[br] Australia
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".6s")
						.holder-slider__info-subtitle Distance
						.holder-slider__info-title 7,065 Miles
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay=".9s")
						.holder-slider__info-subtitle Travel #[br] Time
						.holder-slider__info-title 23 Hours 5 Minutes
					.holder-slider__info-item.wow.fadeInUp(data-wow-offset="400",data-wow-delay="1.2s")
						.holder-slider__info-subtitle Pricing
						.holder-slider__info-title $1,976 USD
							span.holder-pricing__span Round Trip
				.holder-slider__btn
					a(href="#").btn
						| Book #[span Flight]

