section.travel
	.container
		.title
			span
				|travel
				h3 travel
		.travel__slider
			.travel__slider-item.travel-slider
				.travel-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.travel-slider__subtitle
						.subtitle
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.travel-slider__descr(style="background-image: url(assets/img/virgin.png)")
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.travel-slider__info
					.travel-slider__info-item
						.travel-slider__info-subtitle Destination
						.travel-slider__info-title Queensland #[br] Australia
					.travel-slider__info-item
						.travel-slider__info-subtitle Distance
						.travel-slider__info-title 7,065 Miles
					.travel-slider__info-item
						.travel-slider__info-subtitle Travel #[br] Time
						.travel-slider__info-title 23 Hours 5 Minutes
					.travel-slider__info-item
						.travel-slider__info-subtitle Pricing
						.travel-slider__info-title $1,976 USD #[span Round Trip]
				.travel-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.travel__slider-item.travel-slider
				.travel-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.travel-slider__subtitle
						.subtitle
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.travel-slider__descr(style="background-image: url(assets/img/virgin.png)")
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.travel-slider__info
					.travel-slider__info-item
						.travel-slider__info-subtitle Destination
						.travel-slider__info-title Queensland #[br] Australia
					.travel-slider__info-item
						.travel-slider__info-subtitle Distance
						.travel-slider__info-title 7,065 Miles
					.travel-slider__info-item
						.travel-slider__info-subtitle Travel #[br] Time
						.travel-slider__info-title 23 Hours 5 Minutes
					.travel-slider__info-item
						.travel-slider__info-subtitle Pricing
						.travel-slider__info-title $1,976 USD #[span Round Trip]
				.travel-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.travel__slider-item.travel-slider
				.travel-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.travel-slider__subtitle
						.subtitle
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.travel-slider__descr(style="background-image: url(assets/img/virgin.png)")
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.travel-slider__info
					.travel-slider__info-item
						.travel-slider__info-subtitle Destination
						.travel-slider__info-title Queensland #[br] Australia
					.travel-slider__info-item
						.travel-slider__info-subtitle Distance
						.travel-slider__info-title 7,065 Miles
					.travel-slider__info-item
						.travel-slider__info-subtitle Travel #[br] Time
						.travel-slider__info-title 23 Hours 5 Minutes
					.travel-slider__info-item
						.travel-slider__info-subtitle Pricing
						.travel-slider__info-title $1,976 USD #[span Round Trip]
				.travel-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.travel__slider-item.travel-slider
				.travel-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.travel-slider__subtitle
						.subtitle
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.travel-slider__descr(style="background-image: url(assets/img/virgin.png)")
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.travel-slider__info
					.travel-slider__info-item
						.travel-slider__info-subtitle Destination
						.travel-slider__info-title Queensland #[br] Australia
					.travel-slider__info-item
						.travel-slider__info-subtitle Distance
						.travel-slider__info-title 7,065 Miles
					.travel-slider__info-item
						.travel-slider__info-subtitle Travel #[br] Time
						.travel-slider__info-title 23 Hours 5 Minutes
					.travel-slider__info-item
						.travel-slider__info-subtitle Pricing
						.travel-slider__info-title $1,976 USD #[span Round Trip]
				.travel-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.travel__slider-item.travel-slider
				.travel-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.travel-slider__subtitle
						.subtitle
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.travel-slider__descr(style="background-image: url(assets/img/virgin.png)")
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.travel-slider__info
					.travel-slider__info-item
						.travel-slider__info-subtitle Destination
						.travel-slider__info-title Queensland #[br] Australia
					.travel-slider__info-item
						.travel-slider__info-subtitle Distance
						.travel-slider__info-title 7,065 Miles
					.travel-slider__info-item
						.travel-slider__info-subtitle Travel #[br] Time
						.travel-slider__info-title 23 Hours 5 Minutes
					.travel-slider__info-item
						.travel-slider__info-subtitle Pricing
						.travel-slider__info-title $1,976 USD #[span Round Trip]
				.travel-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.travel__slider-item.travel-slider
				.travel-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.travel-slider__subtitle
						.subtitle
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.travel-slider__descr(style="background-image: url(assets/img/virgin.png)")
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.travel-slider__info
					.travel-slider__info-item
						.travel-slider__info-subtitle Destination
						.travel-slider__info-title Queensland #[br] Australia
					.travel-slider__info-item
						.travel-slider__info-subtitle Distance
						.travel-slider__info-title 7,065 Miles
					.travel-slider__info-item
						.travel-slider__info-subtitle Travel #[br] Time
						.travel-slider__info-title 23 Hours 5 Minutes
					.travel-slider__info-item
						.travel-slider__info-subtitle Pricing
						.travel-slider__info-title $1,976 USD #[span Round Trip]
				.travel-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.travel__slider-item.travel-slider
				.travel-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.travel-slider__subtitle
						.subtitle
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.travel-slider__descr(style="background-image: url(assets/img/virgin.png)")
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.travel-slider__info
					.travel-slider__info-item
						.travel-slider__info-subtitle Destination
						.travel-slider__info-title Queensland #[br] Australia
					.travel-slider__info-item
						.travel-slider__info-subtitle Distance
						.travel-slider__info-title 7,065 Miles
					.travel-slider__info-item
						.travel-slider__info-subtitle Travel #[br] Time
						.travel-slider__info-title 23 Hours 5 Minutes
					.travel-slider__info-item
						.travel-slider__info-subtitle Pricing
						.travel-slider__info-title $1,976 USD #[span Round Trip]
				.travel-slider__btn
					a(href="#").btn
						| Book #[span Flight]
			.travel__slider-item.travel-slider
				.travel-slider__head(style="background-image: url(assets/img/travel-slider-bg.png)")
					.travel-slider__subtitle
						.subtitle
							.headline-left Shore
							.subtitle__head Airlie Beach #[span |] Australia
				.travel-slider__descr(style="background-image: url(assets/img/virgin.png)")
					.descr
						.headline-right Airline
						.descr__head Virgin Australia
							+icon('virgin')
				.travel-slider__info
					.travel-slider__info-item
						.travel-slider__info-subtitle Destination
						.travel-slider__info-title Queensland #[br] Australia
					.travel-slider__info-item
						.travel-slider__info-subtitle Distance
						.travel-slider__info-title 7,065 Miles
					.travel-slider__info-item
						.travel-slider__info-subtitle Travel #[br] Time
						.travel-slider__info-title 23 Hours 5 Minutes
					.travel-slider__info-item
						.travel-slider__info-subtitle Pricing
						.travel-slider__info-title $1,976 USD #[span Round Trip]
				.travel-slider__btn
					a(href="#").btn
						| Book #[span Flight]

