extends ../layout/main

block variables
	- var title = 'Coast-surfing';
	- var description = 'Coast-surfing';
	- var pageClass = 'index-page';

block content
	include ../includes/modules/_header
	include ../includes/modules/_surf
	include ../includes/modules/_travel
	include ../includes/modules/_sleep
	include ../includes/modules/_shop
	include ../includes/modules/_footer